<!DOCTYPE html>
<html>
<head>
  <title>WorksInProgress</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <nav class="top-bar">
    <h1><a href="/">
      <img src="https://works-in-progress-production.s3.amazonaws.com/uploads/works-in-progress-low-resolution-logo-color-on-transparent-background.png">
    </a></h1>
    <section class="top-bar-section">
      <div class="left">
        <a class="button" href="/">Home</a>
        <a class="button" href="/prompts">Prompts</a>
      </div>
    </section>
    <section class="top-bar-section">
      <div class="right">
        <%- if current_user -%>
          <p class="devise-button out"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <p class="devise-button up"><%= link_to 'Sign Up', new_user_registration_path %></li>
          <p class="devise-button in"><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </div>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>
